/.vs/JaProj/v16/.suo
/.vs/JaProj/v16/Browse.VC.db
/.vs/JaProj/v16/Browse.VC.db-shm
/.vs/JaProj/v16/Browse.VC.db-wal
/.vs/JaProj/v16/Browse.VC.opendb
/.vs/JaProj/v16/Solution.VC.db
/.vs/JaProj/v16/Solution.VC.db-shm
/.vs/JaProj/v16/Solution.VC.db-wal
/AsmDll/x64/Release/AsmDll.Build.CppClean.log
/AsmDll/x64/Release/AsmDll.Build.CppClean.log
/AsmDll/x64/Release/AsmDll.Build.CppClean.log
/AsmDll/x64/Release/AsmDll.Build.CppClean.log
/AsmDll/x64/Release/AsmDll.dll.recipe
/AsmDll/x64/Release/AsmDll.obj
/AsmDll/x64/Release/AsmDll.tlog/AsmDll.lastbuildstate
/AsmDll/x64/Release/AsmDll.tlog/AsmDll.write.1u.tlog
/AsmDll/x64/Release/AsmDll.tlog/link.command.1.tlog
/AsmDll/x64/Release/AsmDll.tlog/link.read.1.tlog
/AsmDll/x64/Release/AsmDll.tlog/link.write.1.tlog
/AsmDll/x64/Release/AsmDll.tlog/Masm.read.1u.tlog
/AsmDll/x64/Release/AsmDll.tlog/Masm.write.1u.tlog
/JaProjCppDll/x64/Release/JaProjCppDll.tlog/link.write.1.tlog
/JaProj/bin/x64/Release/netcoreapp3.1/JaProj.runtimeconfig.dev.json
/JaProj/obj/Debug/netcoreapp3.1/JaProj_MarkupCompile.cache
/JaProjCppDll/x64/Release/JaProjCppDll.tlog/link.read.1.tlog
/JaProjCppDll/x64/Release/JaProjCppDll.tlog/link.command.1.tlog
/JaProjCppDll/x64/Release/JaProjCppDll.tlog/JaProjCppDll.write.1u.tlog
/JaProjCppDll/x64/Release/JaProjCppDll.tlog/JaProjCppDll.lastbuildstate
/JaProjCppDll/x64/Release/JaProjCppDll.tlog/CL.write.1.tlog
/JaProjCppDll/x64/Release/JaProjCppDll.tlog/CL.read.1.tlog
/JaProjCppDll/x64/Release/JaProjCppDll.tlog/CL.command.1.tlog
/JaProj/obj/project.nuget.cache
/JaProjCppDll/x64/Release/JaProjCppDll.Build.CppClean.log
